body{
  background-color: #fcfcfc;
}
.pro-detail{
  width: 1190px;
  margin: 5px auto;
  min-height: 500px;
  position: relative;
  .item-detail{
    width: 860px;
    background-color: #ffffff;
    min-height: 300px;
    padding: 20px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    .header{
      h1{
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 20px;
      }
      p{
        color: #666666;
        i{
          font-style: normal;
          color: #000;
        }
      }
    }
    .content{
      .carousel-main{
        width: 900px;
        height: 350px;
        margin-top: 20px;
        position: relative;
        .carousel{
          width: 335px;
          height: 340px;
          overflow: hidden;
          position: relative;
          .big{
            min-width: 3000px;
            li{
              float: left;
              img{
                width: 335px;
                height: 270px;
                border-radius: 3px;
              }
            }
          }
          .small{
            clear: both;
            min-width: 3000px;
            height: 60px;
            position: relative;
            top: 10px;
            left: 17px;
            li{
              float: left;
              padding: 0 3px;
              opacity: 0.3;
              &.activeImg{
                opacity: 1;
              }
              img{
                width: 70px;
                height: 60px;
                border-radius: 3px;
                cursor: pointer;
              }
            }
          }
          .tab{
            width: 15px;
            line-height: 60px;
            background-color: rgba(0,0,0,0.8);
            color: #fff;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
          }
          .tab01{
            position: absolute;
            bottom: 0;
            left: 0;
          }
          .tab02{
            position: absolute;
            bottom: 0;
            right: 0;
          }
        }

        .about{
          position: absolute;
          top: 40px;
          left: 350px;
          height: 290px;
          label,h4,h3{
            font-size: 16px;
            display: inline-block;
            *display: inline;
            *zoom: 1;
            line-height: 40px;
          }
          label{
            width: 120px;
            text-align: right;
          }
          h3{
            font-size: 25px;
            color: #fa0064;
          }
          h4,h3{
            margin-left: 50px;
          }

        }
      }

      .info{
        margin-top: 30px;
        width: 100%;
        min-height: 300px;
        .title{
          height: 45px;
          border-bottom: 1px solid #ccc;
          h3{
            margin: 0;
            display: inline-block;
            *display: inline;
            *zoom: 1;
            float: left;
            color: #333;
          }
          span{
            float: right;
            width: 100px;
            font-size: 14px;
            font-weight: normal;
            cursor: pointer;
            margin-top: 10px;
            .icon-like{
              width: 18px;
              height: 16px;
              background: url("../img/icon.png") no-repeat -42px  -100px;
              margin-right: 2px;
            }
            .icon-like-true{
              background: url("../img/icon.png") no-repeat -115px  -100px;
            }

          }
        }
        .info-item{
          .block1{
            margin-left: 30px;
            width: 380px;
            display: inline-block;
            *display: inline;
            *zoom: 1;
            &.long{
              width: 800px;
              span{
                display: inline-block;
                *display: inline;
                *zoom: 1;
                width: 630px;
                vertical-align: top;
              }
            }
          }
          h2{
            color: #666;
            width: 100%;
            line-height: 30px;
            padding-left: 15px;
            border-left: 5px solid #fa0064;
            font-size: 18px;
            font-weight: bold;
          }
          span{
            padding-left: 30px;
          }
          label,span{
            font-size: 16px;
            display: inline-block;
            *display: inline;
            *zoom: 1;
            line-height: 30px;
            margin: 10px 0;
          }
          label{
            width: 120px;
            text-align: left;
          }
        }
        .block3{
          margin: 15px 0;
          img{
            width: 415px;
            height: 320px;
            margin: 5px 2px;
          }
          .more-img{
            display: none;
          }
        }
        .see-more{
          text-align: center;
          color: #fa0064;
          font-size: 18px;
          cursor: pointer;
        }
      }



    }

  }

  .user-detail{
    width: 280px;
    min-height: 500px;
    background-color: #fff;
    text-align: center;
    vertical-align: top;
    margin-left: 5px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    .user{
      padding: 20px;
      background-color: #fff;
      .avatar{
        width: 100px;
        height: 100px;
      }
      h3{
        font-size: 20px;
        font-weight: bold;
        color: #666666;
        margin-bottom: 0;
      }
      .go-info{
        font-size: 14px;
        padding: 3px 15px;
        color: #ffffff;
        background-color: #fa0064;
        border-radius: 3px;
        border: 1px solid #fa0064;
        outline: none;
        cursor: pointer;
        &:hover{
          opacity: 0.8;
          color: #fff!important;
        }
      }
      .open{
        margin-top: 10px;
      }
      span{
        font-size: 14px;
        line-height: 30px;
      }
      .title{
        height: 15px;
        border-bottom: 1px solid #aaa;
        p{
          line-height: 28px;
          font-size: 14px;
          background-color: #ffffff;
          display: inline-block;
          *display: inline;
          *zoom: 1;
          padding: 0 10px;
        }
      }
      ul{
        margin: 20px 0;
        padding-bottom: 20px;
        border-bottom: 1px solid #aaa;
        li{
          width: 100%;
          font-size: 14px;
          line-height: 30px;
          white-space: pre;
          overflow: hidden;
        }
      }
      button{
        width: 80%;
        height: 30px;
        line-height: 28px;
      }
    }
  }
}

.job-detail{
  position: relative;
  .item-detail{
    .header{
      position: relative;
      .left{
        display: inline-block;
        *display: inline;
        *zoom: 1;
        width: 650px;
        p{
          margin-bottom: 15px;
          span{
            color: #ccc;
            padding: 0 10px;
          }
          .icon-address{
            width: 12px;
            height: 15px;
            background: url("../img/icon.png") no-repeat -96px -100px;
            margin-right: 5px;
          }
        }
        .item{
          width: 420px;
          margin-bottom: 10px;
          font-size: 14px;
          display: inline-block;
          vertical-align: top;
          *display: inline;
          *zoom: 1;
          &.item-small{
            width: 200px;
            span{
              width: 100px;
              vertical-align: top;
              display: inline-block;
              *display: inline;
              zoom: 1;
            }
          }
          &.item-long{
            width: 550px;
          }
          span{
            width: 300px;
            vertical-align: top;
            display: inline-block;
            *display: inline;
            zoom: 1;
          }
          label {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            width: 80px;
            margin-bottom: 5px;
            font-size: 14px;
            color: #aaa;
          }
        }
        .tel{
          margin-bottom: 10px;
          span{
            line-height: 40px;
            &.see{
              cursor: pointer;
              color: #fa0064;
            }
          }
          h3{
            display: inline;
            color: #fa0064;
          }
        }
        .welfare{
          width: 450px;
          display: inline-block;
          vertical-align: top;
          span{
            display: inline-block;
            padding: 3px 5px;
            background-color: rgb(255,166,202);
            color: white;
            margin: 0 10px 10px 0;
            cursor: pointer;
          }
        }
        .superWarning{
          font-size: 20px;
        }
      }
      .right{
        display: inline-block;
        *display: inline;
        *zoom: 1;
        vertical-align: top;
        width: 205px;
        h3{
          color: #fa0064;
          font-size: 22px;
          text-align: right;
        }
        a{
          padding: 10px 30px;
          background-color: #fa0064;
          color: #fff;
          display: inline-block;
          float: right;
          *display: inline;
          *zoom: 1;
          position: absolute;
          right: 0;
          bottom: 20px;
          &:hover{
            color: #fff!important;
            opacity: 0.7;
          }
        }
      }
    }

    .content{
      .info{
        .info-item{
          .title{
            height: 45px;
            h3{
              margin: 0;
              display: inline-block;
              *display: inline;
              *zoom: 1;
              float: left;
            }
            span{
              float: right;
              width: 100px;
              font-size: 14px;
              font-weight: normal;
              cursor: pointer;
              margin-top: 10px;
              .icon-like{
                width: 18px;
                height: 16px;
                background: url("../img/icon.png") no-repeat -42px  -100px;
                margin-right: 2px;
              }
              .icon-like-true{
                background: url("../img/icon.png") no-repeat -115px  -100px;
              }

            }
          }
          pre{
            background-color: white;
            border: none;
            font-size: 14px;
            color: #444;
            line-height: 25px;
            font-family: "Microsoft Yahei";
          }
        }
      }
    }
  }

  .comment-list{
    width: 860px;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid #ccc;
    .comment{
      border-top: 1px solid #ccc;
      padding: 20px 0 0;
      .avatar{
        width: 60px;
        height: 130px;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        img{
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
      }
      .content{
        width: 760px;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        vertical-align: top;
        p{
          line-height: 30px;
        }
      }
      .footer{
        width: 750px;
        height: 30px;
        margin-left: 60px;
        color: #aaa;
        .left{
          float: left;
        }
        .right{
          float: right;
          cursor: pointer;
        }
      }
      .comment-child{
        width: 800px;
        border-top: 1px solid #ccc;
        margin-left: 60px;
        padding: 20px 0 0;
        .avatar{
          width: 60px;
          height: 130px;
          display: inline-block;
          *display: inline;
          *zoom: 1;
          img{
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }
        }
        .content{
          width: 710px;
          display: inline-block;
          *display: inline;
          *zoom: 1;
          vertical-align: top;
          p{
            line-height: 30px;
          }
        }
      }
    }

    .comment-form{
      margin-top: 50px;
      background-color: white;
      .group{
        span{
          margin-right: 20px;
          display: inline-block;
          *display: inline;
          *zoom: 1;
          height: 100%;
        }
        textarea{
          vertical-align: top;
          width: 500px;
          height: 100px;
        }
        img{
          margin-left: 100px;
        }
      }
      input[type=submit]{
        padding: 8px 20px;
        background-color: #48cfae;
        margin-left: 100px;
        border: none;
        color: white;
        margin-top: 20px;
      }
    }

  }



}


/*弹出框样式*/
.idea .modal-body-job{
  background: #f00;
  text-align: center!important;
  .form-group{
    width: 315px;
    display: inline-block;
    text-align: left;
    input[type=radio]{
      margin-top: 8px;
      margin-right: 10px;
      vertical-align: top;
    }
    label{
      text-align: left;
      width: 70px;
    }
  }
}