body{
  background-color: #f0f2f2;
}
.pay{
  width: 900px;
  min-height: 400px;
  margin: 10px auto;
  background-color: white;
  padding: 50px;
  .add{
    color: #fa0064;
    padding: 5px 0;
    cursor: pointer;
    clear: both;
    display: block;
    margin-left: 150px;
  }
  .other-extension{
    width: 700px;
    border: 1px solid #fa0064;
    border-radius: 15px;
    margin: 35px 0 0 140px;
    height: 120px;
    .choose-box{
      padding: 10px 0;
      p{
        margin: 0 0 10px 20px;
      }
    }
  }
  .choose-box{
    width: 100%;
    min-height: 50px;
    clear: both;
    padding-top: 20px;
    .name{
      font-size: 16px;
      color: #fa0064;
      margin:0 0 0 50px;
      float: left;
      line-height: 30px;
    }
    .checkbox{
      width: 700px;
      float: left;
      label{
        width: 70px;
        padding: 5px 10px;
        margin-right: 30px;
        float: left;
        text-align: center;
        border: 1px solid #ddd;
        position: relative;
        &.active{
          border: 1px solid #fa0064;
          .icon-active{
            display: block;
          }
        }
        p{
          margin: 0;
          width: 90px;
        }
        input{
          display: none;
        }
        .icon-active{
          width: 16px;
          height: 17px;
          display: none;
          position: absolute;
          bottom: 0;
          right: 0;
          background: url("../img/icon.png") -131px -313px;
        }
      }
    }

    .radio{
      float: left;
      width: 750px;
      input[type=number]{
        width: 60px;
        border-radius: 0;
      }
      input[type=date]{
        width: 140px;
        border-radius: 0;
      }
      .date-input{
        display: inline-block;
        *display: inline;
        *zoom: 1;
      }
      .nowdate{
        border-radius: 0;
        width: 140px;
      }
      .nowtime{
        border-radius: 0;
        width: 140px;
      }
      .delete-box{
        width: 300px;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        .delete{
          line-height: 30px;
          vertical-align: top;
          cursor: pointer;
          color: #fa0064;
          padding: 0 10px;
        }
      }
      label{
        margin-right: 30px;
        padding: 5px 20px;
        float: left;
        text-align: center;
        border: 1px solid #ddd;
        min-width: 40px;
        position: relative;
        &.active{
          border: 1px solid #fa0064;
          .icon-active{
            display: block;
          }
        }
        &.actived{
          border: 1px solid #fa0064;
          .icon-active{
            display: block;
          }
        }
        h5{
          margin: 0;
          color: #666;
        }
        input{
          display: none;
        }
        .icon-active{
          width: 16px;
          height: 17px;
          display: none;
          position: absolute;
          bottom: -1px;
          right: -1px;
          background: url("../img/icon.png") -131px -313px;
        }
      }
    }

    .radio-recharge{
      width: 700px;
      float: left;
      label{
        width: 120px;
        padding: 5px 10px;
      }
    }
    .checkbox-vip{
      label{
        width: 90px;
        i{
          float: left;
        }
      }
    }

  }

  .all-price{
    clear: both;
    line-height: 34px;
    padding-top: 20px;
    p{
      font-size: 16px;
      color: #fa0064;
      float: left;
      margin-left: 50px;
    }
    .superWarning{
      margin-left: 30px;
      font-size: 25px;
      margin-right: 10px;
    }
    .balance{
      padding-left: 20px;
      font-size: 14px;
      color: #fa0064;
      float: left;
      p{
        margin: 0;
      }
      span{
        color: #aaa;
        padding-left: 10px;
        font-size: 12px;
        line-height: 35px;
      }
      b{
        font-size: 16px;
      }
    }
  }

  .submit{
    text-align: center;
    input[type=submit]{
      padding: 10px 20px;
      clear: both;
      background-color: #fa0064;
      border: none;
      color: white;
      margin: 20px auto 0;
      &:hover{
        opacity: 0.9;
      }
    }
  }

  .vip-auth{
    img{
      width: 700px;
      margin-left: 140px;
    }
  }

}

.pay-zfb{
  width: 1000px;
  margin: 10px auto;
  padding: 100px 0;
  text-align: center;
  min-height: 500px;
  background-color: white;
  img{
    width: 200px;
    height: 200px;
  }
  label{
    margin:0 20px;
    display: inline-block;
    line-height: 20px;
    *display: inline;
    *zoom: 1;
    input{
      margin: 0 3px 3px 0;
    }
  }
  p{
    font-size: 14px;
    color: #aaaaaa;
    margin: 20px 0;
    .superWarning{
      font-size: 16px;
    }
  }
}

.pay-success{
  .success{
    width: 600px;
    height: 220px;
    margin: 50px auto;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #888;
  }
  h4{
    color: #999;
    margin: 20px 0;
  }
  img{

  }
  .info{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 0 10px;
    span{
      line-height: 30px;
    }
  }
}
