body {
  background-color: #f0f2f2; }

.resume-search {
  min-height: 480px;
  width: 1000px;
  margin: 10px auto;
  background-color: #fff;
  padding: 100px 0; }
  .resume-search .form {
    width: 640px; }
  .resume-search .submit-btn input {
    background-color: #fa0064;
    border: none;
    padding: 5px 25px;
    color: white;
    border-radius: 3px; }
    .resume-search .submit-btn input:hover {
      opacity: 0.7; }
  .resume-search .form-group {
    width: 640px !important;
    min-height: 55px;
    margin: 0 140px; }
    .resume-search .form-group span {
      width: 90px;
      line-height: 33px;
      display: inline-block;
      text-align: right;
      margin-right: 20px; }
    .resume-search .form-group input {
      width: 500px;
      height: 30px;
      display: inline-block;
      vertical-align: top;
      border-radius: 0;
      margin: 0;
      padding: 0 10px; }
    .resume-search .form-group textarea {
      width: 508px;
      height: 100px;
      vertical-align: top;
      border-radius: 0;
      margin-bottom: 50px; }
    .resume-search .form-group input[type="file"] {
      height: 30px;
      line-height: 25px;
      padding-top: 5px; }
  .resume-search .form-group-more select {
    width: 238px;
    height: 33px;
    border-radius: 0;
    vertical-align: top; }
  .resume-search .form-group-more input {
    width: 216px;
    height: 30px;
    border-radius: 0;
    vertical-align: top; }
  .resume-search .form-group-more span {
    width: 30px;
    text-align: center;
    margin: 0 !important; }
    .resume-search .form-group-more span:first-child {
      width: 90px;
      text-align: right;
      margin-right: 20px !important; }

.company-info form {
  width: 800px;
  margin: 0 auto; }
.company-info h3 {
  margin-bottom: 50px; }
.company-info .form-group {
  width: 350px !important;
  min-height: 50px;
  margin: 0;
  display: inline-block;
  *display: inline;
  *zoom: 1; }
  .company-info .form-group.form-group-big {
    width: 100% !important;
    margin-bottom: 10px; }
    .company-info .form-group.form-group-big textarea {
      width: 560px !important;
      height: 150px;
      vertical-align: top;
      margin: 15px 0; }
.company-info .form-group span {
  line-height: 50px;
  margin-right: 20px; }
.company-info .form-group input {
  width: 200px;
  border-radius: 0;
  margin-top: 5px; }
.company-info .form-group select {
  border-radius: 0;
  height: 35px;
  margin-top: 5px; }
.company-info .form-group textarea {
  width: 508px !important;
  border-radius: 0; }
.company-info .form-group label {
  display: inline-block;
  margin-right: 20px; }
  .company-info .form-group label input {
    margin-top: -2px; }
.company-info input[type=submit] {
  margin: 50px 335px;
  padding: 10px 30px;
  background-color: #fa0064;
  border: none;
  color: #fff;
  display: block; }

.resume-search-list {
  width: 960px;
  padding: 20px; }
  .resume-search-list table tr:first-child {
    border-bottom: 1px solid #ddd; }
    .resume-search-list table tr:first-child td {
      border-top: none; }
  .resume-search-list table tr td {
    line-height: 30px; }
    .resume-search-list table tr td:first-child {
      text-align: center; }
    .resume-search-list table tr td h5 {
      margin: 0;
      line-height: 30px;
      width: 240px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .resume-search-list table tr td input {
      margin: 0; }
    .resume-search-list table tr td .download {
      padding: 3px 15px;
      background-color: #fa0064;
      color: #fff;
      border-radius: 3px;
      font-size: 12px; }
      .resume-search-list table tr td .download:hover {
        color: #fff !important;
        opacity: 0.7; }
  .resume-search-list .choose-download {
    float: right; }
    .resume-search-list .choose-download span {
      margin-right: 40px;
      cursor: pointer;
      color: #000; }
      .resume-search-list .choose-download span:hover {
        color: #999; }

.page {
  text-align: center;
  padding-top: 50px; }
  .page .pagination {
    float: none;
    display: inline-block; }

.resume-class {
  font-size: 14px;
  background-color: white;
  width: 1190px;
  margin: 10px auto; }
  .resume-class ul {
    padding: 10px 10px 50px; }
    .resume-class ul li {
      vertical-align: top;
      width: 1150px;
      display: inline-block;
      *display: inline;
      *zoom: 1; }
      .resume-class ul li h4 {
        width: 100%;
        line-height: 40px;
        height: 40px;
        text-align: center;
        border-bottom: 1px solid #eee;
        color: #fa0064; }
      .resume-class ul li div {
        width: 1130px;
        padding: 5px 20px; }
        .resume-class ul li div a {
          width: 180px;
          line-height: 30px;
          display: inline-block;
          *display: inline;
          *zoom: 1;
          color: #1464f0; }

/*# sourceMappingURL=resume-search.css.map */
